<ion-content [fullscreen]="true">
    <ion-grid id="nav-button">
      <ion-row>
        <a href="/home-page" id="day-navigation">
          <img src="assets/nightnav.png" alt="Navigation to day log">
        </a>
      </ion-row>
        <h4 id="nav-label">Log My Sleep</h4>

      <ion-row>
        <a href="/day-data-page" id="day-stats">
          <img src="assets/datanav.png" alt="Navigation to statistics">
        </a>
      </ion-row>
        <h4 id="nav-label-stats">View Day Data</h4>
    </ion-grid>
    <ion-grid>
      <ion-row>
        <ion-col id="header-col">
          <h1>How awake I am on</h1> 
        
          <app-date-input id="date-input"></app-date-input>
        </ion-col>
      </ion-row>

      <!-- <img -->
      <!-- <app-day-calendar></app-day-calendar> -->
      <!-- <app-day-scale></app-day-scale> -->
      <!-- <app-sleep-calendar></app-sleep-calendar> -->
      <!-- <app-sleep-chart></app-sleep-chart> -->
      <!-- <app-night-input></app-night-input> -->
      <app-day-input></app-day-input>
    </ion-grid>
</ion-content>