.time-input {
    margin:2%;
}

#button_1 {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content:center;
}

#button_2 {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content:center;
}

h1 {
    font-size: 5vw;
    transform: translateY(-5px);
}


#save-button {
    padding: 30px;
    height:15vh;
    width:auto;
    font-size: 2.5vh;
}

#night-img {
    display:block;
    height:50vh;
    width:auto;
    justify-content:center;
    align-items:center;
    margin:0 auto;
    object-fit:contain;
    filter: drop-shadow(4px 4px 10px rgba(218, 188, 135, 0.5));
}

