#back-navigation {
    width: 8vh;
    padding: 0;
    margin-left:1px;
}

#nav-label {
    padding:0;
    margin-top:-5px;
    margin-left:10px;
    transform: translateY(-6px);
    font-size: 2vh;
    position:absolute;
}

ion-button {
    position: absolute;
    text-transform: none;
    right: 10vw
}

app-date-input {
    display: block;
}

p {
    margin-top: 10%;
    text-align: center;
}

app-sleep-calendar {
    display: none;
}