#loadImg {
    opacity: 0.0;
    display: inline-block;
    margin: 0%;
    max-width: 1px;
    max-height: 1px;
}

#sleepinessVis {
    padding-left: 5vw;
}

#summary {
    margin-top: 0;
    text-align: center;
}